{% extends "base.html" %}
{% load static %}

{% block content %}
 <!-- Recent post -->
 <section class="post_section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <aside class="widget recent_post_widget_2">
                    <h3 class="widget_title_2"><i></i>Most Recent</h3>
                    {% for rp in recent_post %}
                    <div class="single_most_rc_post">
                        <div class="rcpost_meta">
                            <a href="#">Today</a>
                        </div>
                        <h3><a href="{% url 'post_details' rp.slug %}">{{rp.title}}</a></h3>
                    </div>
                    {% endfor %}
                    
                </aside>
            </div>
            <div class="col-lg-6 col-md-8">
                {% for f in featured_post %}
                <div class="single_3_fp">
                    <img src="{{f.image.url}}" alt="">
                    <div class="single_3_content">
                        <h3><a href="{% url 'post_details' f.slug %}">{{f.title}}</a></h3>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="col-lg-3 col-md-12">
                <aside class="widget popular_post">
                    <h3 class="widget_title_2"><i></i>Most Popular</h3>
                    <div class="clearfix"></div>
                    {% for pp in popular_post %}
                    <div class="single_fp">
                        <img src="{{pp.image.url}}" alt="">
                        <div class="fp_f_content">
                            <div class="fs_meta clearfix">
                                <a class="fs_cat" href="#">{{pp.category.name}}</a>
                                <a href="#">{{pp.created_at}}</a>
                            </div>
                            <h3><a href="{% url 'post_details' pp.slug %}">{{pp.title}}</a></h3>
                        </div>
                    </div>
                    {% endfor %}
                    
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Recent post -->

{% endblock content %}
       